<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxdmy.excite.geek.mapper.GeekResourcesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zxdmy.excite.geek.entity.GeekResources">
        <id column="id" property="id" />
        <result column="cat_id" property="catId" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="price" property="price" />
        <result column="website1" property="website1" />
        <result column="website2" property="website2" />
        <result column="show_index" property="showIndex" />
        <result column="count" property="count" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cat_id, title, cover, content, type, price, website1, website2, show_index, count, status, create_time, update_time, delete_time
    </sql>

</mapper>
